<div role="tabpanel" class="box box-primary" id="invoices">
<div class="">
    <div>
      <div class="box-header with-border">
           <h3 class="box-title">Find Vehicle</h3>
       </div>      
        <div class="box-body">
            <form class="form-horizontal formCenter" method="post" id="findVehicleForm" name="findVehicle" onsubmit="javascript:submitFormDisableSubmits(this)" action="<@ofbizUrl>findVehicleList</@ofbizUrl>">
                
                
                <div class="row no-margin">
                  
		     
		        <div id="collapseOne" class="search-cntr">
				 
				    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Vehicle Id</label>
                            <div class="col-sm-8 input-group">
                                <input id="vehicleId" type="text" size="25" name="vehicleId" class="form-control getid-val" value="${parameters.vehicleId!}">
                            </div>
                        </div>
                    </div>
		            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                <div class="form-group">
		                    <label for="inputPassword3" class="col-sm-4 control-label">Search Name</label>
		                    <div class="col-sm-8 input-group">
		                        <input class="form-control getid-valu" type="text" id="searchName" name="searchName" maxlength="40" value="${parameters.searchName!""}"/>
		                    </div>
		                </div>
		            </div>		            
		        </div>
		        </br>
		        <div class="col-lg- col-md-6 col-sm-6 col-xs-12 pull-right">
                  <input type="submit" class="btn btn-success pull-right" name="searchButton" value="${uiLabelMap.Find}">
               </div>
		        
    		</form>
           
        </div>
    </div>
</div>
</div>

		

	<script type="text/javascript">
             jQuery(document).ready(function() 
    { 
        jQuery("#datepicker13").datepicker({ dateFormat: 'yy-mm-dd' });
        jQuery("#datepicker14").datepicker({ dateFormat: 'yy-mm-dd' });
        jQuery("#datepicker2").datepicker({ dateFormat: 'yy-mm-dd' });
        jQuery("#datepicker3").datepicker({ dateFormat: 'yy-mm-dd' });
    
    }); 
        </script>		
