<#escape x as x?xml>

<fo:block text-align="center">
    <fo:external-graphic src="<@ofbizContentUrl>http://localhost:8085/erp/images/logo/companylogo.png</@ofbizContentUrl>" height="40px" content-width="234px" content-height="scale-to-fit"/>
</fo:block>
</#escape>